<h3> Project: </h3>
<h1> Electron App: E-Okul Toplu Resim Düzenleyici </h1>

<p> 
This was my first electronjs project. Simply batch processes all images in a folder to a specific image size and file size.
This is because Education Ministry in Turkey requires a specific image and file size when uploading students' images to their portal. 
</p>
<p> Published only for Windows. </p>
<div><a class="btn" href="https://malipetek.github.io/ads/e-okul/download/" > Open In New Tab </a></div>
