* {
  box-sizing: border-box;
  line-height: 1.2;
  font-family: "Roboto Condensed", sans-serif;
}
img {
  max-width: 90%;
}
a,
a.btn {
  display: none;
}
code {
    font-family: monospace;
    background-color: #222;
    padding: 1px 3px;
}
pre code {
  background-color: inherit;
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #333;
  color: #ddd;
  line-height: 1.2rem;
  overflow-x: hidden;
  position: relative;
}
header {
  background-color: #333;
  display: flex;
  align-content: center;
  z-index: 2;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
a {
  text-decoration: none;
}

a {
  color: #03a9f4;
  display: inline-block!important;
}
a:visited {
  color: #4caf50;
}

.btn {
  display: block;
  border: 1px solid currentColor;
  padding: 10px;
  margin: 20px 5px;
  color: currentColor;
  border-radius: 5px;
  box-shadow: 0 0 0 0 #cccccc20;
  transition: box-shadow 0.1s ease-in-out;
  text-transform: capitalize;
  color: #ddd;
} 

.btn:visited {
  color: #ddd;
}

.btn.external {
  background-color: #006064;
}
.btn:hover {
  box-shadow: 0 0 5px 0 #cccccc40, 0 0 10px 0 #cccccc20, 0 0 15px 0 #cccccc10;
}

#view {
  padding: 10px;
  color: #ddd;
  padding: 0 3vmin;
  max-width: 800px;
  margin: auto;
}
.df {
  display: flex;
}
/* main */
small {
  font-size: 1rem;
  font-style: italic;
}

.df > img + small {
  display: block;
  flex: 1;
  white-space: pre-line;
  padding-left: 10px;
  line-height: 1.2rem;
  padding-top: 10px;
  max-width: 100px;
}
.df > img {
  flex: 2;
  max-width: 200px;
  max-height: 190px;
  height: auto;
}
/* main end */

/* contact */
input,
textarea,
select,
input:-internal-autofill-selected {
  padding: 5px 10px;
  margin: 10px;
  border-radius: 6px;
  background-color: #555;
  -webkit-appearance: none;
  border-style: solid;
  border: 2px solid #777;
  color: #ddd;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ccc;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-box-shadow: 0 0 0px 1000px #777 inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  padding: 10px 5px;
}
textarea:focus,
input:focus,
select:focus {
  border: 2px solid cornflowerblue;
}
.form-element > * {
  width: 100%;
}
.form-element {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  -webkit-appearance: none;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  font-size: large;
  background-color: #222;
  color: #ddd;
}
/* contact end */
/* grocery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery > * {
  min-width: 150px;
  width: 30%;
  height: 30%;
}
.gallery > * > a {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
}

#view[data-currentpath*="/grocery/"] h1 {
  font-size: 28px;
  margin-block-start: 0;
  margin-block-end: 0;
}
#view[data-currentpath*="/grocery/"] h2 {
  font-size: 34px;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* grocery end */
/* hire */
select {
  -webkit-appearance: none;
  padding: 10px;
}
/* hire end */
.language-js {
  position: relative;
}
.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

iframe {
  width: 100%;
  height: auto;
  height: -webkit-fill-available;
}

/* crazy loading animation */
:root {
  --loading-color: #03a9f4;
}
.loading-animation {
  display: none;
  height: 10px;
  box-shadow: var(--loading-color) 0px 0px 100px 10px;
  /*0 0 30px 20px #2196f308, 0 0 10vh 0px var(--loading-color),
    0 0 20vh 0px var(--loading-color), 0 0 30vh 0px var(--loading-color),
    0 0 80vh 0px var(--loading-color), 0 0 100vh 0px var(--loading-color);*/
  width: 40%;
  z-index: -1;
  top: 0;
  animation: loading 0.6s linear infinite, colorchange 10s linear;
  border-radius: 55%;
  margin-top: -10px;
  position: relative;
}

.loading-animation:nth-child(3) {
  animation-delay: 0.2s;
  margin-top: -10px;
}

.loading-animation:nth-child(4) {
  animation-delay: 0.4s;
  margin-top: -10px;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(150vw);
  }
}

@keyframes colorchange {
  0% {
    --loading-color: #2196f3;
  }
  20% {
    --loading-color: #cddc39;
  }
  40% {
    --loading-color: #673ab7;
  }
  60% {
    --loading-color: #4caf50;
  }
  80% {
    --loading-color: #f44336;
  }
}

/* tame disqus container */

#disqus_thread {
  max-width: 800px;
  margin: auto;
  padding: 0 3vmin;
}

/* BLOG start */

.copy-btn {
  display: inline-flex;
  width: 100%;
  float: left;
  justify-content: flex-end;
  cursor: pointer;
}
pre,
code {
  transition: outline-offset 0.9s cubic-bezier(0.16, 0.87, 0, 1.01),
  outline-color 0.6s cubic-bezier(0.16, 0.87, 0, 1.01);
outline-width: 6px;
outline-style: solid;
outline-color: transparent;
}

/* BLOG end */

small.tag {
    float: right;
    border: 2px outset #FF8A65;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 2px 4px;
    font-size: .9rem;
    color: #FFCC80;
}