@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  /* position: relative; */
  height: calc(100vh - 96px);
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
h4 {
  font-size: 1.15rem;
  font-weight: 400;
}
h5 {
  font-size: 1.1em;
  font-weight: 300;
}
h6 {
  font-size: 1.05rem;
  font-weight: 200;
}
div:has(>a) {
  display: inline-block;
}